#!/usr/bin/env bash


unameOut="$(uname -s)"
case "${unameOut}" in
    Linux*)     machine=linux;;
    Darwin*)    machine=mac;;
    CYGWIN*)    machine=cygwin;;
    MINGW*)     machine=mingw;;
    *)          machine="UNKNOWN:${unameOut}"
esac

if [[ "$machine" == "linux" ]]
then
    export CARGO_TARGET_DIR="target-linux"
fi
