[Unit]
Description=lolbench agent

[Service]
Type=oneshot
User=root
SendSIGKILL=no
WorkingDirectory={{ deploy_dir }}
ExecStart=/root/.cargo/bin/cargo run --release -- \
    measure \
    --runner '{{ runner }}' \
    --data-dir '{{ data_dir }}' \
    --nightlies-since {{ epoch_nightly }} \
    --move-kthreads \
    --cpus "{{ allowed_cpus }}"
