[Unit]
Description=lolbench agent

[Service]
Type=oneshot
User=adam
SendSIGKILL=no
WorkingDirectory={{ deploy_dir }}
ExecStart=/home/adam/.cargo/bin/cargo run --release -- \
    measure \
    --runner '{{ runner }}' \
    --data-dir '{{ data_dir }}' \
    --nightlies-since {{ epoch_nightly }}
