[Unit]
Description=lolbench agent

[Service]
Type=oneshot
SendSIGKILL=no
WorkingDirectory={{ deploy_dir }}
ExecStart=/root/.cargo/bin/cargo run -- \
    measure \
    --runner '{{ runner }}' \
    --data-dir '{{ data_dir }}' \
    --nightlies-since {{ epoch_nightly }} \
    --move-kernel-threads \
    --cpu-pattern "{{ allowed_cpus }}"
