<!DOCTYPE html>
<html lang="en">

<head>
    <title>lolbench - {% block title %}{{ title }}{% endblock %}</title>
    {% block head %}{% endblock %}
</head>

<body>
    <!-- yes, this is terrible, it should be below the content, i know -->
    <!-- but i don't know how to do that and make askama's include system work -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
    <div id="content">
        {% block content %}{% endblock %}
    </div>

    {% block scripts %}
    {% endblock %}
</body>

</html>
