{% extends "base.html" %}

{% block title %}home{% endblock %}

{% block head %}
<style>
</style>
{% endblock %}

{% block content %}
<h1>lolbench home</h1>

<a href="#recent-changes">recent noteworthy changes</a> | <a href="#all-benchmarks">all benchmarks</a>

<h2><a id="recent-changes" />recent noteworthy changes</h2>
<p>TODO</p>

<h2><a id="all-benchmarks" />all benchmarks</h2>

<table border="1">
    <tbody>
        {% for benchmark in benchmarks %}
        <tr>
            <td>
                {{benchmark.link()|safe}}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
